body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: wheat;
}
/* Logo styling */

/* Adjust logo position */




nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


header {
    background-color:  #ff7200;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.project {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color:  #ff7200;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav ul li {
        margin: 5px 0;
    }

    footer {
        font-size: 0.8rem;
    }
}
